/*---font-family: 'Roboto Mono', monospace;
font-family: 'Secular One', sans-serif;----*/

/*----medidas----*/
/* .estilo-x {
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    margin: 1em;} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----Header----*/

.navbar {
    background-color: #2ec4b6;
    width: 100%;
    border: solid 0.3em
}

.titulo__principal {
    font-family: 'Secular One', sans-serif;
}

.navbar-nav {
    font-family: 'Roboto Mono', monospace;
}

/*----h2----*/
.h2 {
    margin: 1em;
}

.h2__div {
    width: 50%;
}

.h2__mismo {
    font-family: 'Roboto Mono', monospace;
    background-color: lightcoral;
    font-size: 2rem;
    }
.div > h2 {
    font-size: 1em;
}
.btn-sobris {
    background-color: black;
    border: lightcoral 3px solid;
    color: white;
}

.btn-sobris:hover {
    background-color: #2ec4b6;
    border: black 3px solid;
    color: white;
}
















/*----fotos de chiquitos----*/

.displaynone:hover {
    display: contents
}


/*----tia mangui pagina----*/


.preguntaseria {
    font-family: 'Roboto Mono', monospace;
    background-color: lightcoral;
}


/*----h2 Actividades----*/

/*----Actividades----*/
.container__foto1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__foto1 figure {
    position: relative;
    height: 325px;
    width: 355px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.container__foto1 figure img {
    width: 100%;
    height: 100%;
    transition: all 0.8% ease;
}

.container__foto1 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.container__foto1 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.container__foto1 figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.container__foto1 figure:hover>img {
    filter: grayscale(1);
    transition: all 0.6% ease;
}

.container__foto1 figure .capa h3 {
    color: black;
    background-color: rgb(247, 184, 184);
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    width: 55%;
}

.container__foto1 figure .capa p {
    color: black;
    background-color: #87cec7;
    font-family: 'Secular One', sans-serif;
    font-size: 0.80em;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.container__foto2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__foto2 figure {
    position: relative;
    height: 325px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.container__foto2 figure img {
    width: 100%;
    height: 100%;
    transition: all 0.8% ease;
}

.container__foto2 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.container__foto2 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.container__foto2 figure:hover>.capa h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__foto2 figure:hover>img {
    filter: grayscale(1);
    transition: all 0.6% ease;
}

.container__foto2 figure .capa h3 {
    color: black;
    background-color: rgb(247, 184, 184);
    font-family:'Secular One', sans-serif; 
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 10px;
    width: 75%;

}

.container__foto2 figure .capa p {
    color:black;
    background-color: #87cec7;
    font-size: 0.80em;
    font-family: 'Secular One', sans-serif; ;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin-bottom: 10px;
}



/*----Servicios----*/


.container__foto4 {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}

.container__foto4 figure {
    position: relative;
    height: 325px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.container__foto4 figure img {
    width: 100%;
    height: 100%;
    transition: all 0.8% ease;
}

.container__foto4 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.container__foto4 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.container__foto4 figure:hover>.capa h3 {
    margin-top: 10px;
    margin-bottom: 85px;
}

.container__foto4 figure:hover>img {
    filter: grayscale(1);
    transition: all 0.6% ease;
}

.container__foto4 figure .capa h3 {
    color: black;
    background-color: rgb(247, 184, 184);
    font-family:'Secular One', sans-serif; 
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 50px;
    transition: all 500ms ease-out;
    margin-top: 10px;
    width: 75%;

}

.container__foto4 figure .capa p {
    color:black;
    background-color: #87cec7;
    font-size: 0.80em;
    font-family: 'Secular One', sans-serif; ;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin-bottom: 10px;
    }















.footer {
    height: 8vh;
    width: auto;
    background-color: #2ec4b6;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1em;
}

.footer__ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    text-align: center;
    gap: 10px;
    color: #fdfffc;
}



/*----contacto----*/
