/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #011627;
    padding: 16px;

}

header nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0px 5px
}

header nav ul li a {
    display: inline-block;
    color: #fdfffc;
    font-family: 'Montserrat', sans-serif;
}

header nav {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-size-adjust: 80%;
    color: #df2935;
    width: 1300px;
    height: 80px
}

section article h2 {
    font-size: 25pt;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-size-adjust: 80%;
    color: #df2935;
    width: 1300px;
    height: 80px
}

section article h4,
h5 {
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    text-size-adjust: 80%;
    color: #011627;
    width: 1300px;
    height: 80px
}

p {
    font-size: 16pt;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: #011627;
    text-align: center;
}


body {
    background-color: #fdfffc;
    font-family: Monteserrat, sans-serif;
    color: #011627;
}

.principio__texto {
    display: inline-block;
    width: 150px;
}

.principio__imagen {
    display: inline-block;
    width: 300px;
}

.losCuatrofede {
    padding: 0px;
    margin: left 50px;
    margin: right 50px;
    border: 10px solid #011627;
    float: center;
    width: 500px;
}
.fotosSobrinos {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}
.principio__texto {
    display: flex;
    width: 150px;
    text-align: center;
    
}

.principio__imagen {
    display: inline-block;
    width: 300px;
}

.irlanda {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.dinamarca {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.cocinamos {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.maquillaje {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.disney {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: bottom center;
    width: 250px;
}

.cakepops {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.jugando {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: left;
    width: 250px;
}

*{
    box-sizing:border-box;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

footer {
    background-color: #011627;
    list-style: none;
    display: inline-block;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 1348px
}

footer div ul li {
    display: inline-block;
    color: #fdfffc;
    padding: 0px 5px;
}