/*---font-family: 'Roboto Mono', monospace;
font-family: 'Secular One', sans-serif;----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/*----Header----*/
.h1 {
    background-color: #2ec4b6;
    height: 15vh;
    width: 100%;
    border: solid;
    font-family: 'Secular One', sans-serif;
}

.navbar-nav .nav-item .barra {
    color: #011627;
    background-color: lightcoral;
    font-family: 'Roboto Mono', monospace;
}

.h2 {
    color: #f6f6f6;
    background-color: #011627;
    width: 215px;
    height: 100%;
    padding-left: 10px;
    margin-left: 15px;
}
.principio__imagen {
    height: auto;
    width: 300px;
    padding: 2px;
    margin-left: 10px;
    margin-top: 5px;
    border: solid 5px
}
.principio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.principio__texto1 {
    flex: 1;
    padding-left: 10px;
    font-family: 'Roboto Mono', monospace;
    
}

.principio__texto2 {
    flex: 2;
    padding-left: 25px;
    font-family: 'Roboto Mono', monospace;
}



/* .blanconegro:hover{
        cursor:pointer;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: none;
      } */


.chiquitines__titulo {
    display: flex;
    justify-content: center;
    background-color: #011627;
    font-family: 'Roboto Mono', monospace;
    color: #fdfffc;
}

.chiquitines__fotos {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    margin-left: 5px;
}

.chiquitines__img {
    height: 200px;
    width: 250px;
}

.footer {
    height: 8vh;
    width: auto;
    background-color: #2ec4b6;
    font-family: 'Roboto Mono', monospace;
}

.footer__ul {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    text-align: center;
    gap: 10px;
    color: #fdfffc;
}

/*----tia mangui pagina----*/


.expuno {
    display: flex;
    align-items: left;
    justify-content: left;
    justify-content: left;
}

.expuno__textoirlanda {
    padding: 35px;
    font-family: 'Trispace', sans-serif;
    background-color: #b1a7a6;
    margin-top: 10px;
}

.expuno__fotoirlanda {
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.expdos {
    display: flex;
    align-items: right;
    justify-content: right;
    justify-content: right;
}

.expdos__textodinamarca {
    padding: 35px;
    font-family: 'Trispace', sans-serif;
    background-color: #b1a7a6;
    margin-top: 20px;
}

.expdos__fotodinamarca {
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.preguntaseria {
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #d80032;
    font-size: 5vh;
    background-color: #b1a7a6;
    font-family: 'Montserrat Alternates', sans-serif;
}

/*----actividades----*/
.cocinamos {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.maquillaje {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.disney {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: bottom center;
    width: 250px;
}


/*----servicios----*/

.cakepops {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: right;
    width: 250px;
}

.jugando {
    padding: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: left;
    width: 250px;
}




/*----contacto----*/

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}