

.h2 {
    margin: 1em;
}

.h2__div {
    width: 50%;
}

.h2__mismo {
    font-family: 'Roboto Mono', monospace;
    background-color: lightcoral;
    font-size: 2rem;
}
.parrafo__tiamangui{
    font-size: 0.5em;
}
.div>h2 {
    font-size: 1em;
}

.btn-sobris {
    background-color: black;
    border: lightcoral 3px solid;
    color: white;
}

.btn-sobris:hover {
    background-color: #2ec4b6;
    border: black 3px solid;
    color: white;
}
